[submodule "portaudio-binaries"]
	path = _sounddevice_data/portaudio-binaries
	#url = https://github.com/spatialaudio/portaudio-binaries.git
	url = https://github.com/memukuge/portaudiobinary_wasapi.git
